[Desktop Entry]
Name=MauiManServer
Name[ca]=MauiManServer
Name[ca@valencia]=MauiManServer
Name[cs]=MauiManServer
Name[de]=MauiManServer
Name[en_GB]=MauiManServer
Name[es]=MauiManServer
Name[eu]=MauiManServer
Name[fi]=MauiManServer
Name[fr]=MauiManServer
Name[it]=MauiManServer
Name[ko]=MauiManServer
Name[nl]=MauiManServer
Name[nn]=MauiManServer
Name[pt]=Servidor do MauiMan
Name[pt_BR]=MauiManServer
Name[sk]=MauiManServer
Name[sl]=MauiManServer
Name[sv]=Maui manualserver
Name[tr]=MauiManServer
Name[uk]=MauiManServer
Name[x-test]=xxMauiManServerxx
Name[zh_TW]=MauiManServer
Exec=MauiManServer
Icon=settings-configure
Comment=MauiManServer autostart at login
Comment[ca]=Inici automàtic del MauiManServer en iniciar la sessió
Comment[ca@valencia]=Inici automàtic de MauiManServer en iniciar la sessió
Comment[cs]=Automaticky spustit MauiManServer při přihlášení
Comment[de]=Autostart von MauiManServer bei der Anmeldung
Comment[en_GB]=MauiManServer autostart at login
Comment[es]=Inicio automático de MauiManServer al iniciar sesión
Comment[eu]=MauiManServer abio automatikoa saio-hastean
Comment[fi]=MauiManServer-automaattikäynnistys kirjauduttaessa
Comment[fr]=Démarrage automatique de « MauiManServer » à la connexion
Comment[it]=Avvio automatico di MauiManServer all'accesso
Comment[ko]=로그인할 때 자동으로 MauiManServer 시작
Comment[nl]=MauiManServer automatisch starten bij aanmelden
Comment[nn]=Start automatisk MauiManServer ved innlogging
Comment[pt]=Arranque do servidor do MauiMan no início da sessão
Comment[pt_BR]=Início automático do MauiManServer no início da sessão
Comment[sk]=Spustiť MauiManServer po prihlásení
Comment[sl]=Samodejni zagon MauiManServerja on prijavi
Comment[sv]=Autmatisk start vid inloggning av Maui manualserver
Comment[tr]=MauiManServer'ı açılışta kendiliğinden başlat
Comment[uk]=Автоматичний запуск MauiManServer після входу до системи
Comment[x-test]=xxMauiManServer autostart at loginxx
Comment[zh_TW]=MauiManServer 自動在登入時啟動
Terminal=false
X-KDE-autostart-phase=2
